DATABASE_URL="postgresql://admin:admin@localhost:5432/stablecoin_db?schema=public"

RPC_HTTP_URL="http://127.0.0.1:8545"
RPC_WS_URL="ws://127.0.0.1:8545"

STABLECOIN_ADDRESS=""
MINT_BURN_MULTISIG_ADDRESS=""
ADMIN_MULTISIG_ADDRESS=""

OWNER1_PRIVATE_KEY=""
OWNER2_PRIVATE_KEY=""
OWNER3_PRIVATE_KEY=""

ADMIN1_PRIVATE_KEY=""
ADMIN2_PRIVATE_KEY=""
ADMIN3_PRIVATE_KEY=""